<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>


    <servlet>
        <servlet-name>RegisterUIServlet</servlet-name>
        <servlet-class>cn.itcast.web.UI.RegisterUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>cn.itcast.web.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>error</servlet-name>
        <servlet-class>cn.itcast.errors.error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LonginServlet</servlet-name>
        <servlet-class>cn.itcast.web.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBookServlet</servlet-name>
        <servlet-class>cn.itcast.web.UI.ListBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>cn.itcast.web.controller.BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCartServlet</servlet-name>
        <servlet-class>cn.itcast.web.UI.ListCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItem</servlet-name>
        <servlet-class>cn.itcast.web.controller.DeleteCartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearCartServlet</servlet-name>
        <servlet-class>cn.itcast.web.controller.ClearCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>cn.itcast.web.controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeQuantityServlet</servlet-name>
        <servlet-class>cn.itcast.web.controller.ChangeQuantityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeQuantityServlet</servlet-name>
        <url-pattern>/ChangeQuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearCartServlet</servlet-name>
        <url-pattern>/ClearCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItem</servlet-name>
        <url-pattern>/DeleteCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCartServlet</servlet-name>
        <url-pattern>/ListCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/BuyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBookServlet</servlet-name>
        <url-pattern>/ListBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LonginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUIServlet</servlet-name>
        <url-pattern>/registerUI</url-pattern>
    </servlet-mapping>
</web-app>